{% extends "Layouts/_root.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'extensions/datatable2/datatables-1.13.5/css/datatables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'extensions/datatable2/buttons-2.4.1/css/buttons.datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'extensions/datatable2/buttons-2.4.1/css/buttons.bootstrap5.min.css' %}">
    <style type="text/css">
        .modal.slide-right .modal-dialog {
            animation: slideInRight 0.3s forwards;
            transform-origin: 100% 0;
            margin-right: 0;
            margin-left: auto;
            width: 40%;
        }

        table td {
            padding: 1px 10px !important;
        }
    </style>
{% endblock styles %}


{% block title %}
    TOÀN BỘ CẤU HÌNH LOGS:
{% endblock %}


{% block content %}
    <div class="card border border-primary mb-3">
        <div class="card-header border-primary bg-primary pb-2 pt-3">
            <h4 class="bold-800 text-white">Chi tiết:</h4>
        </div>
        <div class="card-body">
            <div class="panel-body table-responsive ms-2 mt-2">
                <table class="table display table-bordered " id="TBIndex">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>dataset</th>
                            <th>path</th>
                            <th>num_file_data</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ds in data %}
                            <tr>
                                <td> {{ forloop.counter }}</td>
                                <td> {{ ds.dataset }}</td>
                                <td> {{ ds.path }}</td>
                                <td> {{ ds.config|length }}</td>
                                <td class="d-flex justify-content-center align-items-center">
                                    <a class="btn btn-outline-primary m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa" >
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a class="btn btn-outline-secondary m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem chi tiết" >
                                        <i class="bi bi-file-earmark-text"></i>
                                    </a>
                                    <a class="btn btn-outline-danger m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa" >
                                        <i class="bi bi-trash3-fill"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
    
    
    
    
{% block js %}
    {{ data|json_script:"rawdata" }}
    <script>
        // Tooltip:
        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        }, false);

        $(document).ready(function () {
            try {
                const data = JSON.parse(document.getElementById('rawdata').textContent);

                // Gắn sự kiện cho tất cả nút có class show-json-btn
                $(".show-json-btn").on("click", function () {
                    const datasetId = $(this).data("id-ds");
                    const dataset = data.find(ds => ds.id == datasetId);
                    
                    const datasetCopy = JSON.parse(JSON.stringify(dataset));
                    removeIdFields(datasetCopy);

                    if (dataset) {
                        let prettyJSON = JSON.stringify(datasetCopy, null, 4);
    
                        // Xoá dòng trắng dư (nếu có)
                        prettyJSON = prettyJSON.replace(/^\s*[\r\n]/gm, '');
    
                        $("#rawdataset").text(prettyJSON);
                    } else {
                        $("#rawdataset").text("Không tìm thấy dataset: " + datasetId);
                    }
                });
            } catch (error) {
                console.error("Lỗi khi xử lý JSON:", error);
                $("#rawdataset").text("Dữ liệu JSON không hợp lệ.");
            }
        });
        $("#ModalDetail").on('hidden.bs.modal', function () {
            $(this).find(':focus').blur(); 
        });
        
    </script>


{% endblock %}
